body{
    margin: 0;
    font-family: Arial;
}

.main{
    border: 2px solid #555;
    padding: 10px;
}

.inner{
    border: 2px solid #8aa;
    height: 250px;
    display: grid;
    place-items: center; 
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.grid div{
    background-color: #8fa3ad;
    color: white;
    padding: 10px 15px;
    text-align: center;
}